<!--<h2 style="text-align: center">Offline activities app</h2>-->

<div style="display: flex; flex-direction: column; height: calc(100% - 32px)">
  <main class="main-container">
    <router-outlet></router-outlet>
  </main>

  <footer style="height: 80px">
    <mat-toolbar class="toolbarNav">
      <button mat-flat-button routerLink="" [ngClass]="{'currentLink': activeLink('/user')}">
        <mat-icon class="material-icons color_blue">person</mat-icon>
        <span>Home</span>
      </button>
      <button mat-flat-button routerLink="/search" [ngClass]="{'currentLink': activeLink('/search')}">
        <mat-icon class="material-icons color_blue">search</mat-icon>
        <span>Find</span>
      </button>
      <button mat-flat-button routerLink="./events" [ngClass]="{'currentLink': activeLink('/events')}">
        <mat-icon class="material-icons color_blue">list</mat-icon>
        <span>Suggestions</span>
      </button>
      <button mat-flat-button routerLink="./create" [ngClass]="{'currentLink': activeLink('/create')}">
        <mat-icon class="material-icons color_blue">add_circle_outline</mat-icon>
        <span>Add new</span>
      </button>
    </mat-toolbar>
  </footer>
</div>

<!--  Для списка интересов -->
<!--  <div class="card-container">-->
<!--    <a class="card" target="_blank" rel="noopener" href="https://material.angular.io">-->
<!--      <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 8px" width="21.813" height="23.453" viewBox="0 0 179.2 192.7"><path fill="#ffa726" d="M89.4 0 0 32l13.5 118.4 75.9 42.3 76-42.3L179.2 32 89.4 0z"/><path fill="#fb8c00" d="M89.4 0v192.7l76-42.3L179.2 32 89.4 0z"/><path fill="#ffe0b2" d="m102.9 146.3-63.3-30.5 36.3-22.4 63.7 30.6-36.7 22.3z"/><path fill="#fff3e0" d="M102.9 122.8 39.6 92.2l36.3-22.3 63.7 30.6-36.7 22.3z"/><path fill="#fff" d="M102.9 99.3 39.6 68.7l36.3-22.4 63.7 30.6-36.7 22.4z"/></svg>-->
<!--      <span>Angular Material</span>-->
<!--      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>-->
<!--    </a>-->
<!--  </div>-->
