<div *ngIf="activity" class="event-container">
  <h2>{{editMode ? 'Add new event' : 'Info about event'}}</h2>

  <mat-form-field hintLabel="Event title - short description. Max 40 characters" appearance="fill">
    <mat-label>Enter event title</mat-label>
    <input matInput #title maxlength="20" [disabled]="!editMode" [(ngModel)]="activity.title" [value]="activity.title">
    <mat-hint align="end">{{title?.value?.length || 0}}/20</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Event city</mat-label>
    <mat-select [disabled]="!editMode">
      <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [disabled]="!editMode" [value]="activity.datetime">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Teaser</mat-label>
    <textarea matInput #teaser maxlength="50" [disabled]="!editMode" [(ngModel)]="activity.teaser"></textarea>
    <mat-hint align="end">{{teaser?.value?.length || 0}}/50</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput [disabled]="!editMode" [(ngModel)]="activity.description"></textarea>
  </mat-form-field>

  <div *ngIf="!editMode" class="tcontrols">
    <button mat-fab aria-label="Dislike" (click)='returnToEvents()' color="warn" class="my-btn">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-fab aria-label="Like" (click)='returnToEvents()' color="primary" class="my-btn">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>

  <button *ngIf="editMode" (click)="addNewEvent()">Create this</button>

</div>
