<ng-container *ngIf="userId.length === 0">
<form class="example-form">
  <mat-form-field appearance="fill">
    <mat-label>Your name</mat-label>
    <input matInput type="text" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" required>
  </mat-form-field>

  <mat-chip-list>
    <ng-container *ngFor="let chip of availableInterests">
<!--      <mat-chip [selected]="chip.active" (click)="chip.active = !chip.active">-->
<!--        {{chip.name}}-->
<!--      </mat-chip>-->

      <mat-button-toggle-group name="interests" aria-label="interests" multiple>
        <mat-button-toggle [value]="chip">{{chip.name}}</mat-button-toggle>
      </mat-button-toggle-group>
    </ng-container>
  </mat-chip-list>

  <div class="button-container">
    <button mat-fab aria-label="Save me" (click)="saveUser()">
      <mat-icon>check_circle</mat-icon>
    </button>
  </div>

</form>
</ng-container>

<ng-container *ngIf="userId.length > 0">
  <p>{{userName}}</p>
</ng-container>
