<ng-container *ngIf="userId.length === 0">
  <div class="user-content">
    <h2>Please, enter your name:</h2>
    <mat-form-field appearance="fill">
      <mat-label>Your name</mat-label>
      <input matInput type="text" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" required>
    </mat-form-field>

    <img src="assets/avatar.png" alt="Avatar" class="avatar">

    <h2>Please, choose your interests:</h2>
    <mat-chip-list>
      <ng-container *ngFor="let chip of eventsService.INTERESTS">
        <mat-button-toggle-group name="interests" aria-label="interests" multiple>
          <mat-button-toggle [value]="chip" (click)="addInterests(chip)">{{chip}}</mat-button-toggle>
        </mat-button-toggle-group>
      </ng-container>
    </mat-chip-list>

    <h2 style="margin-top: 24px">Please, select your city:</h2>
    <mat-form-field appearance="fill">
      <mat-select>
        <mat-option *ngFor="let city of eventsService.CITIES" [value]="userCity" (click)="changeCity(city)">{{city}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-container">
      <button mat-fab aria-label="Save me" (click)="saveUser()" color="primary" class="save-btn">
        <mat-icon>check_circle</mat-icon>
      </button>
    </div>

  </div>
</ng-container>

<ng-container *ngIf="userId.length > 0">
  <div *ngIf="eventsService.events$.getValue().length === 0; else user">
    <img style="width: 100%" src="assets/lazy-loading.gif" alt="">
  </div>

  <ng-template #user>
    <div class="user-content">
      <p>Hi {{this.eventsService.user$.getValue()?.userName}}!</p>

      <p>Your city {{this.eventsService.user$.getValue()?.userCity}}!</p>

      <img style="width: 100%" src="assets/in-progress.gif" alt="">
    </div>
  </ng-template>
</ng-container>
