.user-content {
  margin: 20px 10px;
}

.button-container {
  text-align: right;
}

.save-btn {
  width: 70px;
  height: 70px;

  mat-icon {
    width: 40px;
    height: 40px;
    font-size: 40px;
  }
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  right: 40px;
}
